body {

    overflow-x: hidden;
    background-color: pink;
}

#hero {
    justify-content: center;
    text-align: center;
}

#timage {
    border: solid 5px white;
    border-radius: 50%;
}

#edu {
    margin-top: 1rem;


}

#edu-c {
    margin-top: 9rem;

}

#pro {
    background-color: white;
    color: black;
}

#pro-c {
    margin-top: 3rem;
    /* height: 35rem; */
}

#edu-h {
    color: white;
    text-shadow: 2px 2px 5px purple;
}

#name-h {
    font-family: 'Zeyada';
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px 5px white;

}

/* #name-h:hover {

} */
.lead {
    font-weight: bold;
}

p {
    font-weight: bold;
}

#name {
    font-family: 'Zeyada';
    font-weight: bold;
    font-size: 3rem;
}


.skill {
    justify-content: space-evenly;
}

#lin {
    font-weight: bold;
}

#lin:hover {
    background: #cca5ea;
    transition: .5s;
    color: purple;
    border-radius: 3px;
    box-shadow: 2px 2px 5px white;

}

/* h3 {
    font-size: 20px;
    text-align: center;
    margin-right: 160px;
    margin-bottom: 43px;
} */


.pra {
    color: white;
}

#pro-img {
    margin-top: 20px;
}